{% load django_browser_reload %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'fonts/css2.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">

  {{head_content}}
  <script src="{% static 'toasts.js' %}"></script>
  <script src="{% static 'htmx.min.js' %}"></script>
  <script src="{% static 'chart.js' %}"></script>
  <style>
    * {
      font-family: "Inter", sans-serif;
    }
  </style>
</head>

<body class="bg-slate-100 min-h-screen" id="body">

  <c-add-transaction-modal></c-add-transaction-modal>

  <div class="bg-white shadow-sm">
    <div class="container mx-auto">
      <div class="navbar">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">NeoSpend</a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="navbar-center">
          <ul class="menu menu-horizontal px-1">
            <li><a href="{% url 'tracker:home' %}"">Dashboard</a></li>
        <li><a href=" {% url 'tracker:home' %}"">Transactions</a></li>
          </ul>
        </div>
        <div class=" navbar-end">
          <button class="btn btn-primary" onclick="addTransactionModal.showModal()">Add Transaction</button>
        </div>
        {% endif %}
      </div>
    </div>
    <div id="messages">
      <div class="toast toast-top toast-end z-50" id="toast-container">
      </div>
    </div>
  </div>

  <main class="container mx-auto">
    {{slot}}
  </main>
  {{scripts}}

  <div>{% django_browser_reload_script %}</div>


  <script type="text/javascript">
    {% for message in messages %}
    showToast("{{message|escapejs}}", "{{message.tags|escapejs}}")
    {% endfor %}
  </script>
</body>

</html>