<div class="bg-white max-w-xl max-md:w-full rounded-lg shadow-lg p-4" id="prog2" hx-trigger="load delay:1s"
  hx-get="{% url 'tracker:progress' %}" hx-swap="outerHTML">
  <div class="flex flex-col gap-4 w-100 mx-auto">
    <p class="mx-auto font-bold w-full">Category Proportion Breakdown</p>
    <div>
      <div class="flex justify-between mb-2">
        <span class="h-4 skeleton w-30"></span>
        <span class="h-4 skeleton w-30"></span>
      </div>
      <div class="h-2-400 w-100 rounded">
        <span class="h-2 block skeleton rounded ">
        </span>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-2">
        <span class="h-4 skeleton w-30"></span>
        <span class="h-4 skeleton w-30"></span>
      </div>
      <div class="h-2-400 w-100 rounded">
        <span class="h-2 block skeleton rounded ">
        </span>
      </div>
    </div>
    <div>
      <div class="flex justify-between mb-2">
        <span class="h-4 skeleton w-30"></span>
        <span class="h-4 skeleton w-30"></span>
      </div>
      <div class="h-2-400 w-100 rounded">
        <span class="h-2 block skeleton rounded ">
        </span>
      </div>
    </div>
    <div>
      <div class="flex justify-between mb-2">
        <span class="h-4 skeleton w-30"></span>
        <span class="h-4 skeleton w-30"></span>
      </div>
      <div class="h-2-400 w-100 rounded">
        <span class="h-2 block skeleton rounded ">
        </span>
      </div>
    </div>

  </div>
</div>