{% if transaction %}
<li class="flex space-x-4 items-center rounded-box shadow-md p-4 my-2 item-row">
  <div class="flex-1">
    <div class="font-semibold">{{transaction.description|capfirst}}</div>
    <div class="text-xs capitalize font-semibold opacity-60 mt-2">
      {{transaction.date}}
      <span class="font-normal lowercase">x</span>
      {{transaction.category.name|capfirst}}
    </div>
  </div>
  <span class="
  {% if transaction.type == 'expense' %}
   text-red-500 
   {% else %}
   text-green-500
   {% endif %}">
    {% if transaction.type == 'expense' %}-{% endif %}KES
    {{transaction.amount|floatformat:"2g"}}
  </span>

  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-sm m-1">...</div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-24 p-2 shadow-sm">
      <li><a class="text-secondary">Edit</a>
      </li>
      <li>
        <form hx-post="{% url 'tracker:delete' transaction.id %}">
          {% csrf_token %}
          <button class="text-secondary">Delete</button>
        </form>
      </li>
    </ul>
  </div>

</li>
{% endif %}