<c-layouts.base>
  <h1 class="mt-4 text-2xl font-bold">
    Invoice Details
  </h1>

  <section class="mt-4 bg-white rounded-lg p-4">
    <div class="flex justify-start flex-col items-start text-sm mb-8">
      <p><span class="font-bold">Invoice No:</span> {{invoice.id}}</p>
      <p class="flex-1"><span class="font-bold">Customer name:</span> {{invoice.client.name|capfirst}}</p>
      <p class="flex-1"><span class="font-bold ">Date Issued: </span> {{invoice.date_issued}}</p>
      <p class="flex-1"><span class="font-bold">Due Date:</span> {{invoice.due_date}}</p>
    </div>
    <p class="pb-2 text-sm font-semibold opacity-60 tracking-wide">Invoice Lines</p>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
      <table class="table">
        <thead>
          <tr>

            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          {% for item in items %}
          <tr>
            <td>{{item.description}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit_price|floatformat:"2g"}}</td>
            <td>{{item.total_price|floatformat:"2g"}}</td>

            <td class="">
              <ul class="flex gap-2">
                <li>
                  <a role=" link" aria-roledescription="link to edit this invoice" class="link">Edit
                  </a>
                </li>
                <li>
                  <a href="" role="link" aria-roledescription="link to delete this invoice" class="link">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan=" 5" class="text-center text-gray-500">No Items. <a href="{% url 'invoice:home' %}"
                class="link">Add some.</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</c-layouts.base>